{% extends 'admin/adminbase.html.twig' %}

{% block title %}Admin / Gallery{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form_dtd) }}
            {{ form_errors(form_dtd) }}
            {{ form_row(form_dtd.start_date) }}
            {{ form_row(form_dtd.end_date) }}
            <div class="d-grid gap-2"> <input class="btn btn-primary btn-block" type="submit" value="{{ 'Submit'|trans }}"> </div>

        {{ form_end(form_dtd) }}
    </div>
{% endblock %}
