{% extends 'base.html.twig' %}

{% block title %}Apod | {{ apod.title }}{% endblock %}

{% block body %}
    <main>
        <div class="container py-4 pt-4">
            <div class="row align-items-md-stretch">

                <div class="col-md-8 mb-4">
                    <div class="h-100 p-5 bg-body-tertiary border rounded-3">

                        <p>{{ 'photo of'|trans }} {{ day }} {{ month|trans }} {{ year }}</p>

                        <h2>{{ apod.title }}</h2>
                        <h4>{{ 'Copyright'|trans}}: {{ apod.copyright }}</h4>

                        {% if apod.mediatype == "image" %}
                            <a href="{{ apod.hdurl }}" target="_blank"><img width="auto" class="rounded img-fluid" src="{{ apod.url }}" alt="{{ apod.title }}"></a>
                            <p>{{ 'Click on the photo to see it in Ultra HD!'|trans}}  </p>
                        {% elseif apod.mediatype == "video"%}
                            <iframe width="560" height="315" src="{{ apod.url }}" title="{{ apod.title }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        {% endif %}


                        <p>{{ apod.explanation }}</p>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                        <h2>{{ 'Search for a date'|trans }}</h2>
                        <p class="muted">{{ 'between the'|trans }} 1995-06-16 {{ 'and the'|trans}} {{ apod.fulldate }}</p>

                        {{ form_start(form) }}
                            {{ form_errors(form) }}
                            {{ form_row(form.date) }}
                            <div class="d-grid gap-2"> <input class="btn btn-primary btn-block" type="submit" value="{{ 'Submit'|trans }}"> </div>

                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
    </main>

{% endblock %}
